@media all and (max-width: 768px)
    .header
        &-contains
            .logo
                width: gem(76)
            .link
                margin-right: 0
    .hero
        margin-bottom: gem(140)
        &-section
            h1
                margin-top: gem(245)
            p
                margin-top: gem(29)
            .button-wrapper
                margin-top: gem(29)
            &-video
                width: gem(600)
                margin-top: gem(114)
                .play
                    left: gem(260)
                    top: gem(100)
    .advantages
        margin-bottom: gem(140)
        &-section
            &-title
                margin-bottom: gem(74)
            &-main
                .advantages-section-text p
                    margin-top: gem(30)
                &-question
                    .advantages-section-text
                        max-width: gem(338)
                        h2
                            max-width: gem(398)
                    .advantages-section-pics
                        width: gem(296)
                        img
                            width: gem(100)
                            height: auto
                            max-width: unset
                        img:nth-child(1)
                            margin-right: gem(50)
                        img:nth-child(2)
                            position: absolute
                            width: gem(160)
                            margin: auto
                            left: gem(55)
                            top: gem(-60)
                &-spaceman
                    margin-top: gem(80)
                    .advantages-section-pics
                        width: gem(378)
                        margin-top: gem(24)
                    .advantages-section-text
                        margin-top: gem(0)
                        max-width: gem(400)
                        align-items: flex-end
                        p
                            max-width: gem(322)
                            margin-top: gem(30)
                &-monitor
                    margin-top: gem(100)
                    .advantages-section-text
                        max-width: gem(400)
                        margin-top: 0
                        p
                            max-width: gem(338)
                    .monitor-div
                        width: gem(248)
                        height: gem(225)
                        margin: 0
                        padding: 0
                        margin-top: gem(26)
                        .animationWrapper
                            width: 100%
                            height: 100%
                            margin: 0
    .lesson
        margin-bottom: gem(140)
        &-section
            &-title
                margin-bottom: gem(40)
                h2
                    margin: 0
                    text-align: center
            &-pics
                margin-top: gem(90)
                .lesson-section-video
                    width: gem(240)
                    margin-top: 0
                    .play
                        width: gem(65)
                        left: gem(95)
                        top: gem(32)
            &-main
                &-element
                    margin-right: 0
                    .lesson-section-text
                        h3
                            max-width: unset
                        .desc-1
                            max-width: gem(430)
            .button-wrapper
                width: gem(200)
                height: gem(40)
    .features
        margin-bottom: gem(140)
        &-section
            &-title
                margin-bottom: gem(56)
                h2
                    margin: 0
                    text-align: center
            &-main
                &-element
                    max-width: gem(337)
                    margin-bottom: gem(60)
                    &:nth-child(even)
                        margin-left: 0
                        align-self: flex-end
                    h3
                        margin-bottom: gem(20)
                &-bottom
                    margin-top: gem(30)
                    text-align: center
    .story
        margin-bottom: gem(80)
        &-section
            &-text
                display: flex
                flex-direction: column
                align-items: flex-end
                position: relative
                top: gem(-60)
                width: 100%
                h3, p
                    width: 100%
                    max-width: gem(420)
                h3
                    text-align: left
                    margin-bottom: gem(20)
                p:last-child
                    margin-top: gem(30)
    .price
        margin-bottom: gem(105)
        &-section
            &-main
                &-element
                    width: gem(230)
                    height: gem(430)
                    &-content
                        width: gem(228)
                        height: gem(428)
                        .title-h7
                            margin-top: gem(33)
                            margin-left: gem(15)
                            margin-bottom: gem(20)
                        &-list
                            margin-left: gem(11)
                            margin-right: gem(5)
                            li
                                margin-bottom: gem(20)
                        &-bottom
                            width: gem(195)
                            left: gem(10)
                            bottom: gem(32)
                            .button-wrapper
                                width: gem(90)
                                height: gem(26)
                        .popular
                            width: gem(134)
                            height: gem(44)
                            top: gem(-32)
                            .popular-main
                                width: gem(132)
                                height: gem(42)
                &-element:nth-child(2) 
                    height: gem(430)
                    .price-section-main-element
                        &-content
                            height: gem(428)
                            &-bottom
                                width: gem(195)
                                position: relative
                                height: unset
                                left: gem(10)
                                bottom: gem(0)
    .need
        margin-bottom: gem(120)
        &-section
            &-title
                margin-bottom: gem(54)
                h2
                    text-align: center
            &-main
            &-pics
                width: gem(350)
            &-text
                &-element
                    margin-bottom: gem(30)

                    p.title-h4
                        margin-bottom: gem(10)
                    .os
                        &-list
                            width: gem(330)
                            padding: gem(32) gem(32)
                            li
                            margin-bottom: gem(20)
    .details
        margin-bottom: gem(132)
        &-section
            &-title
                margin-bottom: gem(70)
    .questions
        padding-bottom: gem(106)
        &-section
            &-title
                margin-bottom: gem(70)
            &-main
                justify-content: flex-start
            &-list
                margin-left: gem(20)
                &-element
                    width: 100%
                    margin-bottom: gem(50)
                    .openQuestion
                        padding-left: gem(35)
                        cursor: pointer
                        &::before
                            left: 0
                            top: gem(11)
                            width: gem(11)
                        &::after
                            left: 0
                            top: gem(11)
                            width: gem(11)
                    .contentQuestion
                        margin-top: gem(20)
    
@media all and (max-width: 480px)
    .hero
        margin-bottom: gem(37)
        &-section
            h1
                margin-top: gem(206)
            p
                margin-top: gem(31)
            .button-wrapper
                margin-top: gem(26)
                width: gem(120)
                height: gem(40)
            &-video
                width: gem(300)
                margin-top: gem(95)
                .play
                    width: gem(40)
                    height: auto
                    left: gem(140)
                    top: gem(60)
    .advantages
        margin-bottom: gem(70)
        &-section
            &-title
                margin-bottom: gem(60)
            &-main
                .advantages-section-text p
                    margin-top: gem(30)
                &-question
                    flex-direction: column-reverse
                    margin-top: 0
                    align-items: center
                    .advantages-section-text
                        max-width: gem(338)
                        margin-top: gem(40)
                        h2
                            max-width: gem(398)
                    .advantages-section-pics
                        margin: 0
                        width: gem(200)
                        img
                            width: gem(70)
                        img:nth-child(1)
                            margin-right: gem(16)
                        img:nth-child(2)
                            width: gem(95)
                            left: gem(40)
                            top: gem(-20)
                &-spaceman
                    margin-top: gem(71)
                    flex-direction: column
                    .advantages-section-pics
                        width: gem(300)
                        margin-top: gem(24)
                    .advantages-section-text
                        margin-top: gem(0)
                        max-width: gem(400)
                        align-items: flex-end
                        p
                            max-width: gem(322)
                            margin-top: gem(30)
                &-monitor
                    margin-top: gem(56)
                    align-items: center
                    flex-direction: column-reverse
                    .advantages-section-text
                        max-width: gem(400)
                        margin-top: 0
                        p
                            max-width: gem(338)
                    .monitor-div
                        width: gem(248)
                        height: gem(225)
                        margin: 0
                        padding: 0
                        margin-bottom: gem(50)
                        .animationWrapper
                            width: 100%
                            height: 100%
                            margin: 0
    .lesson-section-main-element
        flex-direction: column
        align-items: center
    .lesson-section-pics .lesson-section-video
        width: gem(295)
    .price-section-main
        flex-direction: column
        align-items: center
    .details-section-main
        flex-direction: column
        align-items: center
    .need-section-main
        flex-direction: column
        align-items: center
    .footer-main
        flex-direction: column
        align-items: center
    .footer-main-stuff form
        display: flex
        flex-direction: column
        align-items: center