.trial_popup
	width: gem(1146)
	height: gem(634)
	background: var(--color-black)
	.cart-all
		margin-top: gem(100)
		&-trial
			display: flex
			flex-direction: column
			width: 100%

			h2.title-h4
				font-size: gem(45)
			.contact
				display: flex
				flex-direction: column
				width: gem(630)

				&-form
					form
						display: flex
						flex-direction: column
						justify-content: center
						align-items: center
						margin-top: gem(53)
						.trial-form-top
							display: flex
							width: 100%
							justify-content: space-between
							margin-bottom: gem(48)
							.input
								width: gem(500)
								input
									width: gem(496)
						.trial-form-bottom
							display: flex
							width: 100%
							margin-bottom: gem(65)
						.input
							display: flex
							justify-content: center
							align-items: center
							background: linear-gradient(90.34deg, #febd2f .33%,#f95721 25.43%,#fc1370 51.09%,#ba2db2 68.14%,#8342e9 78.65%,#3f89fc 97.57%)
							width: gem(1050)
							height: gem(90)
							z-index: 5
							input
								width: gem(1046)
								height: gem(86)
								background: var(--color-black)
								border: none
								color: var(--color-white)
								padding: 0
								padding-left: gem(23)
								border-radius: 0
								font-size: gem(30)
								line-height: gem(45)
							input:focus
								outline: none
								border: none
					button
						width: gem(344)
						height: gem(80)
						display: flex
						justify-content: center
						align-items: center
						outline: none
						border: none
						border-radius: gem(0)
						position: relative
						background: linear-gradient(90.34deg, #febd2f .33%,#f95721 25.43%,#fc1370 51.09%,#ba2db2 68.14%,#8342e9 78.65%,#3f89fc 97.57%)
						&:before
							display: block
							content: ''
							width: calc(100% - 4px)
							height: calc(100% - 4px)
							position: absolute
							top: gem(2)
							// border-radius: gem(2)
							background: var(--color-black)
							opacity: 0.85
							border-radius: gem(0)
							z-index: 1
						p
							font-size: gem(30)
							line-height: gem(45)
							font-weight: 400
							z-index: 5
@media all and (max-width: 1024px)
	.trial_popup
		width: gem(585)
		.cart-all
			&-trial
				h2.title-h4
					font-size: gem(33)
					line-height: gem(33)
					text-align: center
				.contact
					&-form
						form
							margin-top: gem(62)
							.trial-form-top
								flex-direction: column
								align-items: center
								margin-bottom: 0
								.input
									width: gem(500)
									margin-bottom: gem(30)
									input
										width: gem(498)
							.trial-form-bottom
								justify-content: center
								margin-bottom: gem(44)
							.input
								width: gem(500)
								height: gem(70)
								input
									width: gem(496)
									height: gem(66)
									font-size: gem(25)
									line-height: gem(35)
						button
							width: gem(344)
							height: gem(60)
							p
								font-size: gem(25)
								line-height: gem(25)
@media all and (max-width: 480px)
	.trial_popup
		width: 100%
		height: gem(607)
		.cart-all
			margin-top: gem(78)
			&-trial
				h2.title-h4
					font-size: gem(33)
					line-height: gem(45)
					text-align: left
					max-width: gem(300)
					margin-left: gem(15)
				.contact
					width: gem(375)
					&-form
						form
							margin-top: gem(32)
							.trial-form-top
								.input
									width: gem(320)
									margin-bottom: gem(15)
									input
										width: gem(318)
							.trial-form-bottom
								margin-bottom: gem(32)
							.input
								width: gem(320)
								height: gem(50)
								input
									width: gem(316)
									height: gem(46)
									padding-left: gem(20)
									font-size: gem(20)
									line-height: gem(20)
						button
							width: gem(250)
							height: gem(60)
							p
								font-size: gem(18)
								line-height: gem(30)